.chat-input-container{
    display: flex;
    margin-bottom: 60px;
}
.chat-input{
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    flex-grow: 1;
}
.send-button{
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(81, 153, 102);
    color: white;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
}
